.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 41.75rem;
  margin: 0 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}
