.leftBar {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 20rem;
  background: #2c2f4880;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;

}

.top {
  flex-grow: 1; /* Zajmuje całą pozostałą przestrzeń */
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Zapobiega rozciąganiu rodzica */
}

.leftBar > :last-child {
  margin-top: auto; /* Ustawia footer na dole */
}
