.servers {
  list-style: none;
  height: 100%;
}

.servers li {
  margin-bottom: 1.5rem;
}

.servers li a:global(.active) {
  box-shadow: 5px 5px 5px red;
}

.servers button {
  border: none;
  background: none;
  cursor: pointer;
}
