.servers {
  position: relative;
  list-style: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 20px;

  height: 100%; /* Dopasowanie do rodzica */
  overflow-y: auto; /* Włączenie przewijania w pionie */
}


.servers li {
  margin-bottom: 1.5rem;
}

.servers li a img {
  width: 2.5rem;
  height: 2.5rem;
  transition: filter 0.3s;
}

.servers button {
  position: fixed;
  bottom: 0px;
  border: none;
  background: none;
  cursor: pointer;
}

.newServer:hover {
  filter: drop-shadow(0 0mm 4mm rgb(160, 0, 210));
}
