.servers {
  list-style: none;
  height: 100%;
}

.servers li {
  margin-bottom: 1.5rem;
}

.servers li a img {
  width: 2.5rem;
  height: 2.5rem;
}

.servers button {
  border: none;
  background: none;
  cursor: pointer;
}
