* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--color-text-default);
  font-family: var(--font-family-default);
  color: var(--color-text-primary);
  font-optical-sizing: auto;
  background: radial-gradient(60% 106% at 34.94% 108.33%, #F7CBFD 0%, #7758D1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
