* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--color-text-default);
  font-family: var(--font-family-default);
  color: var(--color-text-primary);
  font-optical-sizing: auto;
  background: radial-gradient(
    60% 106% at 34.94% 108.33%,
    #f7cbfd 0%,
    #7758d1 100%
  );
}

h3 {
  color: var(--color-text-default);
  font-size: 22px;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
