.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.top h2 {
  font-size: 1.375rem;
  font-weight: 600;
}
.top button {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
}
