.featured {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.featured ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.featured li {
  position: relative;
  display: flex;
  align-items: flex-end;

  width: 20rem;
  height: 13rem;
  border-radius: 1rem;
  overflow: hidden;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20rem;
  height: 8.875rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  fill: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    radial-gradient(
      22.86% 54.96% at 49.06% 30.28%,
      #31376f 0%,
      rgba(137, 75, 162, 0) 100%
    ),
    conic-gradient(
      from 180deg at 50% 36.97%,
      rgba(244, 73, 244, 0.3) 6.367961838841438deg,
      rgba(0, 25, 192, 0.3) 153.66680145263672deg,
      rgba(121, 118, 232, 0.3) 249.724280834198deg
    );
  backdrop-filter: blur(25px);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.8rem;
}

.background img {
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  bottom: 0rem;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  margin: 2rem auto;
  filter: drop-shadow(0rem 0rem 0.5rem rgb(0, 0, 0));
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
.top button {
  background: none;
  border: none;
  color: var(--color-text-secondary);
}

.polygon {
  z-index: 2;
}

.description {
  padding: 0.5rem 0;
}

.description h3 {
  padding: 0.5rem 0;
}

.description p {
  color: var(--color-text-secondary);
}

.members {
  display: flex;
  justify-content: space-between;
}
.members span {
  color: var(--color-text-tertiary);
}
